*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;



}
body{
    background-image: url(th.jpg);
    background-position: center;
    background-size: cover;
    background-color: brown;

}
.wrapper{

    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 350px;
    width: 100%;
    background: rgb(81, 81, 163);
    padding: 25px;
    border-radius: 5px;


}
 .wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: chartreuse;



}
 .wrapper .input_field {
    margin-bottom: 10px;
}
.wrapper .input_field input[type="text"],
.wrapper .input_field input[type="password"],
.wrapper .input_field input[type="integer"],




.wrapper textarea {
    width: 100%;
    border: 1px solid cornsilk;
    padding: 10px;

}
.wrapper .btn input[type="submit"]{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: red;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
.wrapper #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: rgb(163, 86, 86);
    text-align: center;
    font-size: 14px;
    transition: all, o.5s , ease
}
